/* CALENDARIO */

.mes {
	height: 100%;
	text-align: center;
	justify-content: center;
}

.mes .titulo_mes h2 {
	font-size: 80px;
}

.mes .semanas {

	width: 95%;
	height: 100%;
	background: #7db2a0;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.mes .semanas_julio {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.mes .semanas .dia {

	width: 95%;
	height: 95%;
	background-color: #fff;
	margin: auto;
	padding: 8px 5px 8px 5px;
}

.mes .dias {
	width: 95%;
	text-align: center;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: #006a44;
	margin-bottom: 20px;
}

.mes .dias h2 {
	display: inline-block;
	color: #fff;
	font-size: 60px;
	text-transform: lowercase;
}

.dia .numero_dia p {
	color: orange;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 0;
	left: 0;
}

.dia .evento .nombre_evento p {
	font-size: 12px;
}

.dia .evento .lugar_evento p {
	font-size: 10px;
	font-weight: bold;
}

.dia .evento .hora_evento p {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}


.dia .dia_desactivado p {
	color: #dcdadb;
}

/* Municipios Calendario */

.titulo_calendario p {
	font-size: 20px;
	margin-top: -30px;
}

.municipios_calendario {
	width: 80%;
	height: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #ccc;
	position: relative;
}

.municipio_calendario {
	width: 100%;
	height: 300px;
	text-align: center;
	z-index: 888;
	text-align: center;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.municipio_calendario h2 {
	top: 30%;
	left: 0;
	right: 0;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	z-index: 10;
	align-self: center;
}

.municipio_calendario img {
	width: 100%;
	height: 100%;
	background-position: center;
	opacity: 0.05;
}

.municipio_calendario img:hover {
	opacity: 0.3;
}


 .ataco_calendario {
 	background-color: #F7921E;
}

.chaparral_calendario {
	background-color: #016737;
}

.planadas_calendario {
	background-color: #F05924;
}

.rioblanco_calendario {
	background-color: #01AEF2;
	opacity: 1;
}

/* .ataco_calendario:hover {
	background-color: rgba(247, 146, 30, .8);
	cursor: pointer;
} */



